@import "tailwindcss";
.factor-input {
    height: 10vh;
    font-size: 10vh;
    width: 30vh;
    border-radius: 10px;
    border-width: 2px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body {
    background-color: aliceblue;
}

.product-bar-cell {
    width: 6vh;
    height: 10vh;
    font-size: 8vh;           
    line-height: 10vh;        
    border-radius: 10px;
    border-width: 2px;
    text-align: center;
    padding: 0;               
    box-sizing: border-box;   
}